body{
  max-width: 1000px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

header{
  margin-bottom: 50px;
}

#address-input{
  width: 300px;
}

#results{
  margin-bottom: 30px;
}

.official-name{
  margin-bottom: 5px;
}

#description,
.official-title{
  margin-top: 0;
  color: grey;
}

.caret{
  font-size: 14px;
}

ul{
  display: none;
}

.caret:hover,
p a,
li a{
  color: #36B1BF;
  text-decoration: none;
}

p a:hover,
li a:hover{
  color:rgb(61, 153, 163);
}

.no-videos-found{
  margin-left: -40px;
}

@media (max-width: 1000px){
  body{
    margin: 10px;
  }
}